@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}



/* Center the container with flexbox */
.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100% !important;
  background-color: #1f1147;
}

/* Logo styling */
.entering-logo {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(90deg, #5eead4, #6366f1);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  animation: logoAnimation 1s ease-in-out infinite alternate;
}

@keyframes logoAnimation {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}

/* Button styling */
.btn-signup-custom {
  background: linear-gradient(90deg, #6366f1, #5eead4);
  border: none;
  color: #fff;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.btn-signup-custom:hover {
  background: linear-gradient(90deg, #5eead4, #6366f1);
}
/* Button styling */
.btn-signin-custom {
  background: linear-gradient(90deg, #6366f1, #5eead4);
  border: none;
  color: #fff;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.btn-signin-custom:hover {
  background: linear-gradient(90deg, #5eead4, #6366f1);
}
/* Sign In link styling */
.text-decoration-underline:hover {
  color: #6366f1;
}

.linking-register a {
  color: #5eead4;
}
